@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: "nord";
  --color-white: #fff;
  /* font-size: 62.5%; */
}

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
  body {
    @apply p-10;
  }
  button {
    font-family: inherit;
  }
  select {
    @apply p-1;
    border-radius: 10px;
  }
  label {
    @apply mr-5;
  }
  input {
    font-family: inherit;
    border-radius: 10px;
    border: solid 1px;
    @apply mr-14 p-2 w-48;
  }
  textarea {
    @apply mr-14 p-3 w-52 h-28;
    border-radius: 10px;
    border: solid 1px;
  }
  h1 {
    @apply font-extrabold text-3xl;
  }
  h2 {
    @apply font-bold text-2xl mb-4;
  }
  img {
    border-radius: 10px;
  }
}

@layer components {
  header {
    justify-content: space-around;
  }
  .flex {
    display: flex;
    align-items: center;
  }

  .flex-end {
    justify-content: flex-end;
  }

  .card {
    @apply p-10;
    border-radius: 10px;
    border: 2px solid;
  }

  .h-center {
    margin-left: auto;
    margin-right: auto;
  }

  .favourite-box {
    max-width: 70rem;
    display: grid;
    grid-template-columns: 4fr 3fr 2fr;
    column-gap: 2rem;
    animation: moveInLeft 0.5s ease-out 0.75;
  }

  .title-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @apply gap-3;
  }

  .title-box h2 {
    @apply font-bold text-2xl;
  }

  .title-box h2,
  .title-box svg {
    margin: 0;
    @apply m-0 p-0 mb-5;
  }

  .title-box svg {
    transition: 0.5s ease-out;
    cursor: pointer;
  }

  .favourite-box img {
    width: 100%;
  }

  .favourite-text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container-admin {
    max-width: 35rem;
  }

  .form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-projects {
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    animation: moveInBottom 0.5s ease-out 0.75;
  }

  .project {
    @apply text-justify;
    max-width: 20rem;
  }

  .project img {
    transition: 0.5s ease-out;
  }

  .project img:hover {
    transform: scale(1.1);
  }

  .project svg {
    transition: 0.5s ease-out;
    cursor: pointer;
  }

  .icons-box {
    @apply flex flex-end gap-3 pb-3;
    border-bottom: solid 1px;
    width: 50%;
    align-self: self-end;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(8rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-8rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}
